{% extends "jugos/base.html" %}   
{% block content %}
<h2>Bienvenido al Dashboard de Citrus Fresh</h2>
<p>Desde aquí puedes gestionar los jugos, ver estadísticas y más.</p>
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Centro', 'Shopping', 'JuntoTuti', 'Tia', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}