{% extends "jugos/base.html" %}
{% block content %}
       Listar Jugos
        <table class="table table-striped">
            <thead>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </thead>
            <tbody>
                {%for jugo in jugos %}
                <tr>
                    <td>{{ jugo.nombre }}</td>
                    <td>{{ jugo.precio }}</td>
                    <td><img src="{{ jugo.img.url }}" alt="" srcset="" width="100" height="100"></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}